@model IEnumerable<WebPizzaShop.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>Клиенты</h1>

<p>
  <a asp-action="Create">Новый клиент</a>
</p>
<p>
        <dl class="row">
            <dt class="col-sm-1">
                <label>Фильтр:</label>
            </dt>
            <dd class="col-sm-auto">
                <select name="filter" asp-for="@ViewData["Filter"]" class="form-control" asp-items="ViewBag.Filter"></select>
                </dd>
            <dd>
                <input type="submit" value="Применить" class="btn btn-info" />
            </dd>

        </dl>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrDate)
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a> |
                <a asp-action="Create" asp-route-id="@item.Id" asp-controller="Checks" >Новый заказ</a>
            </td>
        </tr>
}
    </tbody>
</table>
